{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Warehouse Create{% endblock %}
{% block css %}
    <style>

        button {
            width: auto;
        }



    </style>
{% endblock %}

{% block containers %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="sdf" class="list-group-item list-group-item-action list-group-item-primary"
                   role="button">Warehouse</a>
                <a href="#" class="list-group-item" role="button">Warehouse</a>
                <a href="#" class="list-group-item" role="button">Warehouse</a>
                <a href="#" class="list-group-item" role="button">Warehouse</a>
            </div>
        </div>

        <form class="col-md-9 border p-3" method="post" action="{% url 'create_warehouse' %}" enctype="multipart/form-data" class="shadow-lg p-4 rounded">
            <h1>Create a New Book</h1>
            {% csrf_token %}
            {% crispy form %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>


    {% if messages %}
      <script>
        {% for message in messages %}
          Swal.fire({
              title: "{{ message.tags|title }}",
              text: "{{ message }}",
              icon: "{{ message.tags }}",  // success, error, warning, info
              position: "center",
              showConfirmButton: false,
              timer: 2000
          });
        {% endfor %}
      </script>
    {% endif %}

{% endblock %}


