{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Warehouse Create{% endblock %}
{% block css %}
    <style>
        form {
            margin: 2% auto;
            width: 50%;
            border-radius: 3.25rem;
        }
    </style>
{% endblock %}

{% block containers %}
    <form method="post" action="{% url 'create_warehouse' %}" enctype="multipart/form-data" class="shadow-lg p-4 rounded">
        <h1>Create a New Book</h1>
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>


    {% if messages %}
      <script>
        {% for message in messages %}
          Swal.fire({
              title: "{{ message.tags|title }}",
              text: "{{ message }}",
              icon: "{{ message.tags }}",  // success, error, warning, info
              position: "center",
              showConfirmButton: false,
              timer: 2000
          });
        {% endfor %}
      </script>
    {% endif %}

{% endblock %}


